@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@-webkit-keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes top {
  from {
    top: 0;
  }

  to {
    top: 30%;
  }
}
@-webkit-keyframes top {
  from {
    top: 0;
  }

  to {
    top: 30%;
  }
}
@keyframes lft-rht {
  from {
    transform: translate(0);
  }

  25% {
    transform: translate(-5%);
  }

  50% {
    transform: translate(0);
  }

  75% {
    transform: translate(5%);
  }

  to {
    transform: translate(0);
  }
}
@-webkit-keyframes lft-rht {
  from {
    transform: translate(0);
  }

  25% {
    transform: translate(-5%);
  }

  50% {
    transform: translate(0);
  }

  75% {
    transform: translate(5%);
  }

  to {
    transform: translate(0);
  }
}
@keyframes demo1 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes demo1 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes big {
  from {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  to {
    opacity: 0;
  }
}
@-webkit-keyframes big {
  from {
    transform: scale(1);
  }

  75% {
    transform: scale(1.2);
  }

  to {
    opacity: 0;
  }
}
@keyframes arrowrgt {
  from{right: 1%;top:52%}
  25%{right: 2%;top:53%}
  50%{right: 2%;top:52%}
  75%{right: 1%;top:53%}
  to{right: 1%;top:52%}
}
@-webkit-keyframes arrowrgt {
  from{right: 1%;top:52%}
  25%{right: 2%;top:53%}
  50%{right: 2%;top:52%}
  75%{right: 1%;top:53%}
  to{right: 1%;top:52%}
}
@keyframes arrowlft {
  from{left: 1%;top:52%}
  25%{left: 2%;top:53%}
  50%{left: 2%;top:52%}
  75%{left: 1%;top:53%}
  to{left: 1%;top:52%}
}
@-webkit-keyframes arrowlft {
  from{left: 1%;top:52%}
  25%{left: 2%;top:53%}
  50%{left: 2%;top:52%}
  75%{left: 1%;top:53%}
  to{left: 1%;top:52%}
}
@keyframes group {
  from{transform: rotateY(90deg) rotateX(60deg) scale(0);}
  to{transform: rotateY(0deg) rotateX(0deg) scale(1);}
}
@-webkit-keyframes group {
  from{transform: rotateY(90deg) rotateX(60deg) scale(0);}
  to{transform: rotateY(0deg) rotateX(0deg) scale(1);}
}
@keyframes wrap {
  from{transform: scale(0);}
  to{transform: scale(1);}
}
@-webkit-keyframes wrap {
  from{transform: scale(0);}
  to{transform: scale(1);}
}
@keyframes come {
  from{transform: scale(0);}
  to{transform: scale(1);}
}
@-webkit-keyframes come {
  from{transform: scale(0);}
  to{transform: scale(1);}
}
@keyframes liuxing {
  from {
    top: -10%;
    left: -10%;
  }

  to {
    top: 50%;
    left: 200%;
  }
}
@-webkit-keyframes liuxing {
  from {
    top: -10%;
    left: -10%;
  }

  to {
    top: 60%;
    left: 200%;
  }
}
@keyframes wave {
  50% {
    transform: translate(-50%, -75%) rotate(180deg);
  }

  100% {
    transform: translate(-50%, -70%) rotate(360deg);
  }
}
@-webkit-keyframes wave {
  50% {
    transform: translate(-50%, -75%) rotate(180deg);
  }

  100% {
    transform: translate(-50%, -70%) rotate(360deg);
  }
}
