body {
  background: #bf7f7c;
}

section {
  width: 100%;
  display: block;

  .group {
    padding: 5%;

    .title {
      font-size: 1.3em;
    }

    .statement {
      font-size: 0.9em !important;
    }
  }
}
.lightDesire{
  display: none;
}
.wrap {
  width: 100%;
}

.lbl {
  width: 100%;
}

.sns-share {
  bottom: 10px;
}

.arrow_group {
  display: none;
}
